streamlit==1.59.1
supabase==2.31.0
python-dotenv==1.2.2
pandas==3.0.3
streamlit-cookies-controller==0.0.4
pyarrow==25.0.0
groq==1.5.0
openai==2.45.0
google-api-python-client==2.198.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
